.success_body{
    width: 1440px;
    height: 663px;
}

.success_block{
    width: 1198px;
    height: 613px;
    margin-left: 121px;
    margin-top: 50px;
    position: relative;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.success_header{
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    margin-top: 181px;
    margin-left: 235px;

    color: #000000;
}

.success_mail{
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin-top: 251px;
    margin-left: 365px;

    color: #868686;
}



.success_getaway{
    position: absolute;
    width: 517.06px;
    height: 70px;
    margin-left: 340px;
    margin-top: 470px;

    background-color: #000000;
}

.success_getaway_text{
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-decoration: none;
    margin-top: 14px;
    margin-left: 43px;

    color: #FFFFFF;
}

.success_getaway:active{
    width: 513px;
    height: 66px;
    margin-left: 342px;
    margin-top: 472px;
}

.success_getaway_text:active{
    margin-top: 12px;
    margin-left: 41px;
    color: #bdbdbd;
}

